body{
  margin:0;
  display:flex;
  align-items:center;
  justify-content: center;
  height: 100vh;
  background-color
 }
    .shelf{
      width:520px;
      height: 20px;
      background-color: #FFE8FF;
      position: absolute;
      bottom:10%;
    }
    .clock{
      width: 110px;
      height: 110px;
      background-color: #FFE8FF;
      border: 10px solid #A186DA;
      position: absolute;
      border-radius: 50%;
      left:30px;
      top:-135px
    }
    .knot{
      width: 10px;
      height: 10px;
      background-color: #A186DA;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      z-index: 9;
    }
    .hand{
      width: 4px;
      height: 50px;
      background-color: #A186DA;
      position: absolute;
      left: 50%;
      top:50%;
      transform: translate(-50%,-100%);
      transform-origin: bottom;
    }
    .hour-hand{
      height: 30px;
      transform: translate(-50%,-100%) rotate(45deg);
      animation: 72s hour-hand-animation linear infinite;
    }
    .min-hand{
      height: 40px;
      width: 3px;
      transform: translate(-50%,-100%) rotate(160deg);
      animation: 12s min-hand-animation linear infinite;
    }
    .second-hand{
      height: 47px;
      width: 2px;
      transform: translate(-50%,-100%) rotate(-40deg);
      animation: 2s second-hand-animation linear infinite;
    }
    
    .clock-ear-left,.clock-ear-right{
      height: 30px;
      width: 60px;
      background-color: #A186DA;
      position: absolute;
      top:-12px;
      border-radius: 90px 90px 0 0;
    }
    .clock-ear-left{
      left: -38px;
      transform: rotate(-50deg);
    }
    .clock-ear-right{
      right: -38px;
      transform: rotate(50deg);
    }
    .clock-ear-left:after,.clock-ear-right:after{
      content: " ";
      position: absolute;
      width: 15px;
      height: 8px;
      background-color: #A186DA;
      border-radius: 90px 90px 0 0;
      top:-9px;
    }
    .clock-ear-left:after{
      left: 23px;
    }
    .clock-ear-right:after{
      right: 23px;
    }
    .clock-foot-left,.clock-foot-right{
      height: 50px;
      width: 12px;
      background-color: #A186DA;
      position: absolute;
      bottom: -25px;
      z-index: -1;
    }
    .clock-foot-left{
      transform: rotate(30deg);
      left: 20px;
    }
    .clock-foot-right{
      transform: rotate(-30deg);
      right: 20px;
    }
    .book-1,.book-2,.book-3{
      width: 40px;
      position: absolute;
    }
    .book-1{
      height: 170px;
      left: 210px;
      top:-170px;
      background-color: #AD91E6;
    }
    .book-2{
      height: 195px;
      top:-195px;
      left: 250px;
      background-color: #B99CF2;
    }
    .book-3{
      left: 290px;
      background-color: #C5A8FF;
      height: 180px;
      top:-180px;
    }
    .book-1::before,.book-2::before,.book-3::before{
      content: " ";
      position: absolute;
      width: 100%;
      height: 20px;
      background-color: #FFE8FF;
      top:20px;
      left:0;
    }
    .book-1::after,.book-2::after,.book-3::after{
      content: " ";
      width: 50%;
      height: 100%;
      background-color: black;
      opacity: 0.15;
      position: absolute;
      top: 0;
      right: 0;
    }
    .cactus{
      width: 100px;
      height: 180px;
      position: absolute;
      left: 380px;
      top:-180px;
    }
    .pot{
      width: 100%;
      height: 50%;
      position: absolute;
      bottom: 0;
    }
    .pot-bottom{
      width: 100%;
      height: 70%;
      background-color: #D1B4FF;
      position: absolute;
      bottom: 0 ;
    }
    .pot-top{
      width: 140%;
      height: 30%;
      background-color: #DEC0FF;
      position: absolute;
      top: 0;
      left: -20%;
    }
    .plant-right,.plant-left{
      width: 45%;
      background-color: #5aa668;
      position: absolute;
      bottom: 50%;
      border-radius: 50px 50px 0 0;
    }
    .plant-left{
      height: 35%;
      left: 5%;
    }
    .plant-right{
      height: 50%;
      right: 5%;
    }
    @keyframes min-hand-animation{
      100%{
        transform: translate(-50%,-100%) rotate(520deg);
      }
    }
    @keyframes second-hand-animation{
      100%{
        transform: translate(-50%,-100%) rotate(320deg);
      }
    }
    @keyframes hour-hand-animation{
      100%{
        transform: translate(-50%,-100%) rotate(405deg);
      }
    }
